{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block title %}
메인홈
{% endblock %}

{% block contents %}
<h1>야ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ</h1>

<a href="{% url 'new' %}">
    <h2>메모ㄱ</h2>
</a>

<a href="{% url 'create' %}">
    <h3>글쓰기</h3>
</a>

{{all_memo}}
{% for i in all_memo %}
<h4>{{i.title}}</h4>
{% if i.pic %}
<p><img src="{{i.pic.url}}" /></p>
{% endif %}
{% autoescape off %}
<p>{{i.desc|safe}}</p>
{% endautoescape %}
<p>{{i.created_date}}</p>
<hr>
{% endfor %}
<img src="{% static 'image/demo-image-01.jpg' %}" />
<br>
<a href="{% url 'second' %}">이ㅣㅣㅣㅣㅣ</a>
<form method="POST">
    <!--request POST 사용 시 csrf_token 필요-->
    {% csrf_token %}
    <input type="text" placeholder="예이" name="yay" />
    <input type="submit" value="POST로 ㄱㄱ" />
</form>
{% endblock %}
<!-- </body>

</html> -->